<!DOCTYPE html>
<html>

<head>
<title>読書履歴管理 更新・削除</title>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/i18n/jquery.ui.datepicker-ja.js"></script>
<script type="text/javascript" src="https://raw.githubusercontent.com/padolsey/jquery.fn/master/cross-domain-ajax/jquery.xdomainajax.js"></script>
<!-- script type="text/javascript" src="/javascripts/jquery.xdomainajax.js"></script -->
<link rel="stylesheet" type="text/css" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/pepper-grinder/jquery-ui.css">
<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" />
<link rel='stylesheet' type="text/css" href='/stylesheets/style.css' />
<script type="text/javascript">
  window.moveTo(20,20)
  window.resizeTo(1220,720)
  $(function() {
    $("#issuedate").datepicker({ dateFormat: 'yy/mm/dd' });
    $("#getdate").datepicker({ dateFormat: 'yy/mm/dd' });
    $("#readdate").datepicker({ dateFormat: 'yy/mm/dd' });
  });
  function check1(elm) {  
    if (/^[0-9]*$/.test(elm.value)) {
      elm.setCustomValidity('');
    } else {
      elm.setCustomValidity('数字のみを入力してください');
    }
  };
</script>
</head>

<body>
  <form action="./edit" method="post" style="display: inline">
    <table class="table">
      <tr>
        <td>ISBN13：<input type="hidden" name="isbn13" value="<%= isbn13 %>"><%= isbn13 %></td>
        <td><a href="https://www.amazon.co.jp/dp/<%= isbn10 %>" target="_blank">ISBN10</a>：<input type="number" name="isbn10" id="isbn10" value="<%= isbn10 %>" maxlength="10" size="12" pattern="^[0-9]*$"></td>
        <td colspan="2"><a href="#" onclick="getImg ();">画像</a>：<input type="text" name="coverimg" id="coverimg" value="<%= coverimg %>" maxlength="41" size="49"></td></tr>
      <tr>
        <td colspan="2">書名：<input type="text" name="bookname" id="bookname" value="<%= bookname %>" maxlength="50" size="64" required></td>
        <td>状況：<select name="state">
          <% if (state == "0") { %>
            <option value="0" selected>未読</option><option value="1">読了</option><option value="2">読書中</option>
          <% } else if (state == "1") { %>
            <option value="0">未読</option><option value="1" selected>読了</option><option value="2">読書中</option>
          <% } else { %>
            <option value="0">未読</option><option value="1">読了</option><option value="2" selected>読書中</option>
          <% } %></select></td>
        <td rowspan="7" align="center">
          <% if (coverimg !== "") { %>
            <img src="https://images-na.ssl-images-amazon.com/images/I/<%= coverimg %>" height="360">
          <% } %>
        </td></tr>
      <tr>
        <td colspan="2">著者：<input type="text" name="author" value="<%= author %>" maxlength="25" size="64"></td>
        <td>分類：<input type="text"  name="genre" value="<%= genre %>" maxlength="25" size="14"></td></tr>
      <tr>
        <td colspan="2">出版：<input type="text" name="publisher" id="publisher" value="<%= publisher %>" maxlength="25" size="64"></td>
        <td>所有：
          <% if (ownership == 1) { %>
            <input type="radio" name="ownership" value="1" checked /> Yes&nbsp;&nbsp;
            <input type="radio" name="ownership" value="0" /> No
          <% } else { %>
            <input type="radio" name="ownership" value="1" /> Yes&nbsp;&nbsp;
            <input type="radio" name="ownership" value="0" checked /> No
       <% } %></td></tr>
      <tr>
        <td>発行：<input type="text" name="issuedate" id="issuedate" value="<%= issuedate %>" maxlength="10" size="11" pattern="\d{4}/\d{2}/\d{2}" title="YYYY/MM/DD"></td>
        <td>入手：<input type="text" name="getdate"   id="getdate"   value="<%= getdate %>"   maxlength="10" size="11" required pattern="\d{4}/\d{2}/\d{2}" title="YYYY/MM/DD"></td>
        <td>読了：<input type="text" name="readdate"  id="readdate"  value="<%= readdate %>"  maxlength="10" size="11" pattern="\d{4}/\d{2}/\d{2}" title="YYYY/MM/DD"></td></tr>
      <tr>
        <td colspan="2">書店：<input type="text" name="library" value="<%= library %>" maxlength="25" size="64"></td>
        <td>価格：<input type="number" name="purchase" id="purchase" value="<%= purchase %>" maxlength="7" size="5" pattern="^[0-9]*$" title="数字" onchange="check1(this);"></td></tr>
      <tr>
        <td colspan="3">概要：<input type="text" name="overview" value="<%= overview %>" maxlength="255" size="107"></td></tr>
      <tr>
        <td colspan="3">感想：<textarea name="impressions" cols="109" rows="4"><%= impressions %></textarea></td></tr>
      </tr>
    </table>
    <input type="hidden" name="page" value="<%= page %>">
    <button type="submit" class="btn btn-success">更新</button>
    <% if (page > 0) { %>
      <button type="button" onclick="location.href='./?page=<%= page %>'" class="btn btn-warning">戻る</button>
    <% } else { %>
      <button type="button" onclick="location.href='./'" class="btn btn-warning">戻る</button>
    <% } %>
  </form>
  <form action="./delete" method="post" style="display: inline">
    <input type="hidden" name="isbn13" value="<%= isbn13 %>">
    <button type="submit" class="btn btn-danger">削除</button>
  </form>

<script>
  function getImg () {
 // isbn10 = $('#isbn10').val();
 // if (isbn10 == '') { return; }
 // if (isbn10 == '4000000000') { return; }
 // var targetURL = "ajax.php?url='https://www.amazon.co.jp/dp/" + isbn10 + "'";
 // var targetURL = 'https://www.amazon.co.jp/dp/' + isbn10;
 // isbn13 = $('#isbn13').val();
 // var targetURL = 'http://www.s-book.net/plsql/slib_detail?isbn=' + '9784845851423';
 // var targetURL = 'http://webcatplus.nii.ac.jp/webcatplus/details/book/3939629.html'
    var targetURL = 'https://honto.jp/netstore/pd-book_29448708.html'
    // 国会図書館APIを使って書籍のISBN検索をするリクエストを作成
    // var isbn = 9784255009056;
    // var encode_isbn = encodeURIComponent("isbn=\""+ isbn +"\"");
    // YQLに国会図書館APIのリクエストを肩代わりさせる
    // var url =  "http://iss.ndl.go.jp/api/sru?operation=searchRetrieve&query=" + encode_isbn;
    // var targetURL = 'http://query.yahooapis.com/v1/public/yql?q=' + encodeURIComponent('select * from xml where url="' + url + '"') + '&format=xml';
    alert("targetURL: " + targetURL);
    $.ajax({
      type: 'get',
      url:  targetURL,
      dataType: 'jsonp xml'
   // jsonpCallback: 'callback',
   // timeout: 5000,
      }).done(function (data, textStatus, jqXHR) {
        var str = data;
     // var content = str.substr((str.indexOf('data-a-dynamic-image=')+78),39);
     // $('#coverimg').val(content);
        if ($('#bookname').val() == '') {
          content = str.substr((str.indexOf('id="productTitle" class="a-size-large">')+39),100);
          content = content.substr(0,content.indexOf('</span>'));
          if (content.length > 50) { content = content.substr(0,50).trim(); }
          $('#bookname').val(content);
        }
        if ($('#publisher').val() == '') {
       // content = str.substr((str.indexOf('<li><b>出版社:</b> ')+16),50);
       // content = str.substr((str.indexOf('■出版社：')+6),50);
       // content = str.substr((str.indexOf('出版元')+4),50);
          content = str.substr((str.indexOf('keywords')+4),50);
       // content = content.substr(0,content.indexOf('('));
          content = content.substr(0,content.indexOf('■'));
          if (content.length > 25) { content = content.substr(0,25).trim(); }
          $('#publisher').val(content);
        }
        if ($('#issuedate').val() == '') {
          content = str.substr((str.indexOf('<li><b> 発売日：</b> ')+17),10);
          content = content.replace( '</', '' );
          content = content.replace( '<', '' );
          $('#issuedate').val(content);
        }
      }).fail(function (jqXHR, textStatus, errorThrown) {
        // 検索失敗時には、その旨をダイアログ表示
        alert("Ajaxで失敗しました: " + textStatus + " " + errorThrown);
        // XMLのパースエラーのためにエラーとして処理される
        var parser = new DOMParser();
        var dom = parser.parseFromString(jqXHR.responseJSON.results[0], 'text/xml');
        alert($("record recordData", dom).eq(0).innerHTML);
    })
  };
</script>
</body>

</html>